<mat-card>
  <form [formGroup]="limitationForm">
<h2 mat-dialog-title style="color: #172469;">Add new limitation</h2>
<div mat-dialog-content>  
  <mat-form-field>
    <mat-label>Category name</mat-label>
    <mat-select formControlName="categoryName" [(ngModel)]="data.category" required>
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="f.categoryName.errors?.required">Category name is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Limit price</mat-label>
    <input formControlName="limitPrice" matInput [(ngModel)]="data.limit" required> 
    <mat-error *ngIf="f.limitPrice.errors?.required">Limit price is required</mat-error>
    <mat-error *ngIf="f.limitPrice.errors?.pattern">Limit price is not valid</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" [disabled]="!limitationForm.valid" cdkFocusInitial>Add</button>
</div>
</form>
</mat-card>