<body>
    <h1>My Limitations</h1>
    <mat-icon class="icon" (click)="openDialog()">add_circle</mat-icon>
    <div class="subject scroll">
        <ol>
            <li *ngFor="let limitation of limitations">
                 {{limitation.category.name}}
                 <span class="limit">
                ${{limitation.limit}}
                 </span>
                 <div>
                 <mat-icon class="icon" (click)="onEdit(limitation)">edit</mat-icon>
                <mat-icon class="icon" (click)="onRemove(limitation)">delete_outline</mat-icon>
                 </div>
            </li>
        </ol>
    </div>
<!-- <button  mat-stroked-button>Add limitation</button>  -->
</body>