<!-- <body>
    <h1>My Limitations</h1>

</body> -->

<!-- <div class="layout">
    <div class="profile" *ngFor="let limitation of limitations">
      <div class="profile__picture"><img src="assets/img/{{limitation.category.name}}.png" /></div>
      <div class="profile__header">
        <div class="profile__account">
          <h4 class="profile__username">{{limitation.category.name}}</h4>
        </div>
      </div>
      <div class="profile__stats">
        <div class="profile__stat">
          <div class="profile__value" *ngIf="!limitation.inputshow">${{limitation.limit}}
            <div class="profile__key">Limit Price</div>
          </div>
          <form [formGroup]="updateLimitForm" *ngIf="limitation.inputshow">
            <mat-form-field class="updateLimitForm">
              <input formControlName="limitPrice" matInput [(ngModel)]="limit" required>
              <mat-error *ngIf="g.limitPrice.errors?.required">Limit price is required</mat-error>
              <mat-error *ngIf="g.limitPrice.errors?.pattern">Limit price is not valid</mat-error>
            </mat-form-field>
          </form>
        </div>
        <div class="profile__stat">
          <div *ngIf="!limitation.inputshow">
            <mat-icon class="icon" (click)="limitation.inputshow = !limitation.inputshow; limit = limitation.limit">edit
            </mat-icon>
            <mat-icon class="rightIcon" (click)="onDelete(limitation)">delete_outline</mat-icon>
          </div>
          <div *ngIf="limitation.inputshow">
            <mat-icon class="icon" (click)="limitation.inputshow = !limitation.inputshow">cancel</mat-icon>
            <mat-icon class="rightIcon" (click)="onSave(limitation)">save</mat-icon>
          </div>
        </div>
      </div>
    </div>
</div>
<mat-icon class="addButton" (click)="openDialog()">add_circle</mat-icon> -->

<div class="container">
  <div class="list-container">
    <div class="layout" *ngFor="let limitation of limitations">
      <div class="profile">
        <div class="profile__picture"><img src="assets/img/{{limitation.category.name}}.png" /></div>
        <div class="profile__header">
          <div class="profile__account">
            <h4 class="profile__username">{{limitation.category.name}}</h4>
          </div>
        </div>
        <div class="profile__stats">
          <div class="profile__stat">
            <div class="profile__value" *ngIf="!limitation.inputshow">${{limitation.limit}}
              <div class="profile__key">Limit Price</div>
            </div>
            <form [formGroup]="updateLimitForm" *ngIf="limitation.inputshow">
              <mat-form-field class="updateLimitForm">
                <input formControlName="limitPrice" matInput [(ngModel)]="limit" required>
                <mat-error *ngIf="g.limitPrice.errors?.required">Limit price is required</mat-error>
                <mat-error *ngIf="g.limitPrice.errors?.pattern">Limit price is not valid</mat-error>
              </mat-form-field>
            </form>
          </div>
          <div class="profile__stat">
            <div *ngIf="!limitation.inputshow">
              <mat-icon class="icon" (click)="limitation.inputshow = !limitation.inputshow; limit = limitation.limit">
                edit
              </mat-icon>
              <mat-icon class="rightIcon" (click)="onDelete(limitation)">delete_outline</mat-icon>
            </div>
            <div *ngIf="limitation.inputshow">
              <mat-icon class="icon" (click)="limitation.inputshow = !limitation.inputshow">cancel</mat-icon>
              <mat-icon class="rightIcon" (click)="onSave(limitation)">save</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-icon class="addButton" (click)="openDialog()">add_circle</mat-icon>
</div>