input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
    text-align: center
}
.mat-form-field {
    text-align: left;
}

h2{
    color:  #3f51b5;
    font-weight: 700;
}

mat-card {
    margin: 0 auto;
    width: 30%;
}

.mat-dialog-content {
    max-height: unset;
}