form {
     text-align: center 
}
.mat-form-field {
    text-align: left;
}

h2{
    color:  #3f51b5;
    font-weight: 700;
}

mat-card {
    margin: 0 auto;
    width: 30%;
    border-radius: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.margin {
    margin-right: 7px;
}

.wider {
    width: 230px;
}