<form class="registration-form">
    <p>
        <mat-form-field>
            <mat-label>שם פרטי</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>שם משפחה</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>אימייל</mat-label>
            <input matInput placeholder="ex@gmail.com">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>סיסמא</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>אישור סיסמא</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
</form>