h2 {
    text-align: initial;
}

.bold {
    font-size: 18px;
    font-weight: 900;
}

.description {
    margin-bottom: 0;
}

mat-icon {
    font-size: 17px;
}

img {
    width: 51%;
    padding-top: 3%;
}

button {
    color: black !important;
}