.payment-accounts {
    margin-top: 1%;
}

mat-card {
    margin: 0 auto;
    width: 52%;
    text-align: center;
    border-radius: 20px;
}

.banks-card {
    margin-bottom: 4%;
    margin-top: 3%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table {
    width: 100%;
    table-layout: fixed;
}

.scroll {
    display: block;
    overflow-y:scroll;
    height:130px;
    width:100%;
}

.addButton{
    font-size: 28px;
    width: 100%;
    cursor: pointer;
  }

.title {
    font-weight: bold;
}

.garbage {
    cursor: pointer;
}