<div [hidden]="isCreditCardListEmpty">
  <div style="text-align:center">
    <owl-carousel-o [options]="customOptions" (translated)="getData($event)" (initialized)="getData($event)">
      <ng-container *ngFor="let credit of creditCards">
        <ng-template carouselSlide [id]="credit.id" style="height: 40%;">
            <credit-card [card_number]="credit.card_number" [card_holder_name]="credit.card_holder_name" [expiration]="credit.expiration_date"></credit-card>
        </ng-template> 
      </ng-container> 
    </owl-carousel-o>
  
  </div>  

  <div class="mat-elevation-z8 tableDiv">
    <mat-form-field>
      <mat-label>Choose month</mat-label>
      <mat-select [(ngModel)]="currentMonth" (selectionChange)="onMonthSelect($event)">
        <mat-option *ngFor="let month of monthList; let i = index" [value]="i">
            {{month}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.date.toLocaleDateString('en-GB') }} </td>
      </ng-container>
    
      <ng-container matColumnDef="business">
        <th mat-header-cell *matHeaderCellDef> Business </th>
        <td mat-cell *matCellDef="let element"> {{ element.business.name }} </td>
      </ng-container>
    
      <ng-container matColumnDef="expense">
        <th mat-header-cell *matHeaderCellDef> Expense </th>
        <td mat-cell *matCellDef="let element"> {{ element.expense }} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<div [hidden]="!isCreditCardListEmpty" style="display: flex; height: calc(100% - 64px)">
  <p class="emptyListTitle">No credit cards available</p>
</div>
  
  