h2{
    margin: 0;
    padding: 0;
    line-height: 30px;
    height: 25px;
}

.title {
    left: 0;
    position: absolute;
    padding-left: 3%;
    padding-bottom: 3%;
}

.img {
  height: 120px;
  padding-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.income {
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  font-size: x-large;
}