body{
  /* height: 100%; */
  /* overflow-x: hidden; */
  overflow-y: hidden;
  /* position: fixed; */
}

form {
  text-align: center;
}
.mat-form-field {
 text-align: left;
}

h2{
 font-weight: 700;
}

mat-card {
 height: fit-content;
 width: 30%;
 border-radius: 20px;
 margin-bottom: 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.margin {
 margin-right: 7px;
}

.wider {
 width: 230px;
}

.icon{
  cursor: pointer;
}

.rightIcon{
  cursor: pointer;
  padding-left: 7px;
}