<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <mat-toolbar *ngIf="isLoggedIn()">
        <a><img src="assets/img/Logo.png" class="logo" [routerLink]="['/dashboard']"></a>
        <a mat-button [routerLink]="['/Accounts']">Payment Accounts</a>
        <a mat-button [routerLink]="['/limitations']">Limitations</a>
        <a mat-button [routerLink]="['/debits']">Debits</a>
        <a mat-button [routerLink]="['/statistics']">Statistics</a>
        <span class="spacer"></span>
        <a mat-button [matMenuTriggerFor]="menu">Hi {{getUserName()}}!</a>
        <mat-menu #menu="matMenu">
          <a mat-menu-item [routerLink]="['/user-info']">Profile</a>
          <a mat-menu-item [routerLink]="['/']" (click)="logOut()">Log Out</a>
        </mat-menu>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>