.logo {
    /* padding-top: 10px; */
    height: 45px;
}

.mat-toolbar {
    direction: ltr;
    background-color:  #172469;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.log-out {
    float: right;
}

