#progressbar {
    background-color: #e0ecf8;
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    padding: 3px;
    text-align: center;
    width: 100%;
}
  
#progressbar > div {
     height: 20px;
     border-radius: 10px;
     max-width: 100%;
}

.percentage {
    color: #fbfbf8;
    text-align: center;
}

.container {        
    padding-bottom: 4px;
}

.category-name {
    margin: 4px auto;
    font-weight: bold;
    padding-left: 4px;
}

ngx-simplebar {
    width: 240px;
    height: 240px;
}

#progressbar {
    width: 94%;
}
