.test {
    width: 75%;
    padding-left: 12.5%;
}

mat-card {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

img {
    width: 40%;
}

.saved-money {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.mat-card-content{
    flex-grow: 1;
    overflow: auto;
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}