<mat-grid-list cols="4">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card>
            <dashboard-statistics-panel></dashboard-statistics-panel>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card>2</mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
        <mat-card>3</mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card>4</mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card>5</mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card>6</mat-card>
    </mat-grid-tile>
</mat-grid-list>