@font-face {
    font-family: OpenSansHebrew;
    src: url(assets/fonts/OpenSansHebrew-Regular.ttf) format("opentype");
  }
*{
    font-family: 'OpenSansHebrew';

}
html, body { height: 100%;    background-color: #f2f2f2; }

button{
    color:  #3f51b5 !important;
}
