<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card>
            <dashboard-statistics-panel></dashboard-statistics-panel>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card>
            <dashboard-comparison-panel></dashboard-comparison-panel>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <mat-card>
            <dashboard-income-panel></dashboard-income-panel>
        </mat-card>
    </mat-grid-tile>  
</mat-grid-list>
